trigger: none 

pool: Default

- job: build
  displayName: Build
  steps:
  - task: NodeTool@0
    inputs:
      versionSource: 'spec'
      versionSpec: '16.x'
  - task: PowerShell@2
    displayName: Npm Install
    inputs:
      targetType: 'inline'
      script: 'npm install'
  - task: PowerShell@2
    displayName: Npm Run Build
    inputs:
      targetType: 'inline'
      script: 'npm run build'
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(System.DefaultWorkingDirectory)/build/'
      artifact: 'todo-ui'
      publishLocation: 'pipeline'