trigger: none 

pool: ci agent

jobs:

- job: Sast_Scanning
  displayName: SonarQube scan

  steps:
  - checkout: self

  - task: SonarQubePrepare@8
    inputs:
      SonarQube: 'Sonar_SC'
      scannerMode: 'cli'
      configMode: 'manual'
      cliProjectKey: '1st_project'
      cliProjectName: '1st_project'
      cliSources: 'src'
      extraProperties: |
        sonar.branch.name= main
        sonar.exclusions=**/node_modules/**,**/build/**,**/dist/**

  - task: SonarQubeAnalyze@8
    inputs:
      jdkversion: 'JAVA_HOME_17_X64'

  - task: SonarQubePublish@8
    inputs:
      pollingTimeoutSec: '300'

- job: build
  displayName: Build
  dependsOn: Sast_Scanning
  steps:
  - task: NodeTool@0
    inputs:
      versionSource: 'spec'
      versionSpec: '16.x'
  - task: PowerShell@2
    displayName: Npm Install
    inputs:
      targetType: 'inline'
      script: 'npm install'
  - task: PowerShell@2
    displayName: Npm Run Build
    inputs:
      targetType: 'inline'
      script: 'npm run build'
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(System.DefaultWorkingDirectory)/build/'
      artifact: 'todo-ui'
      publishLocation: 'pipeline'