trigger: 
- main

pool: ci agent

jobs:

- job: Sast_Scanning
# parallelisum
#  pool: 
#   name: ci agent
#   demands:
#    - Agent.Name -equals vm-agent
   
  displayName: SonarQube scan

  steps:
  - checkout: self

  - task: SonarQubePrepare@8
    displayName: Prepare SonarQube
    inputs:
      SonarQube: 'Sonar_SC'
      scannerMode: 'CLI'
      configMode: 'manual'
      cliProjectKey: '1st_project'
      cliProjectName: '1st_project'
      cliSources: '.'
      extraProperties: |
        sonar.language=js
        sonar.sourceEncoding=UTF-8
        sonar.exclusions=node_modules/*,public/,.vscode/*

  - task: SonarQubeAnalyze@8
    displayName: Run SonarQube

  - task: SonarQubePublish@8
    displayName: Publish 
    inputs:
      pollingTimeoutSec: '300'


- job: build
  displayName: Build
  dependsOn: Sast_Scanning
  steps:
  - task: NodeTool@0
    inputs:
      versionSource: 'spec'
      versionSpec: '16.x'
  - task: PowerShell@2
    displayName: Npm Install
    inputs:
      targetType: 'inline'
      script: 'npm install'
  - task: PowerShell@2
    displayName: Npm Run Build
    inputs:
      targetType: 'inline'
      script: 'npm run build'
  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(System.DefaultWorkingDirectory)/build/'
      artifact: 'todo-ui'
      publishLocation: 'pipeline'